@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
      url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-line: #FFD966;
  --link-color: #6ACCB2;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.steps {
  max-width: 1440px;
  height: 1080px;
  margin: 0 auto;
  padding: 80px 20px;
  position: relative;
}

.steps__container {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.steps__center-line {
  position: absolute;
  height: 125%;
  width: 2px;
  background: var(--color-line);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.steps__row {
  display: flex;
  width:1008px;
}

.steps__row.step-1 {
  margin-bottom: 110px;
}

.steps__row::after {
  content: "";
  width: 85px;
  border-top: 2px dashed var(--color-line);
  transform: rotate(-180deg);
  position: absolute;
  left: 43%;
}

.steps__row.step-1::after {
  top: 49px;
  left: 43%;
}

.steps__row.step-2::after,
.steps__row.step-4::after {
  width: 60px;
  top: -174px;
  left: 50%;
}

.steps__row.step-3::after {
  top: 465px;
}

.steps__row.step-4::after {
  top: -53px;
}

.steps__row::before {
  content: "";
  width: 24px;
  height: 24px;
  background: var(--color-line);
  position: absolute;
  top: 36px;
  left: 49.3%;
  border-radius: 50%;
}

.steps__row.step-2::before {
  top: -185px;
}

.steps__row.step-3::before {
  top: 455px;
}

.steps__row.step-4::before {
  top: -64px;
}

.row-left {
  justify-content: flex-start;
}

.row-right {
  justify-content: flex-end;
  position: relative;
}

.steps__descr {
  width: calc(45% - 20px);
  padding-left: 116px;
}

.steps__descr.step-2 {
  position: absolute;
  top: -218px;
  right: 0;
}

.steps__descr.step-4 {
  position: absolute;
  top: -95px;
  right: 0;
}

.steps__descr.step-1 {
  background: url(../assets/svg/step-1.svg) no-repeat;
}

.steps__descr.step-2,
.steps__descr.step-3 {
  background: url(../assets/svg/step-2-3.svg) no-repeat;
}

.steps__descr.step-4 {
  background: url(../assets/svg/step-4.svg) no-repeat;
}

.steps__title {
  margin-bottom: 7px;
  position: relative;
  z-index: 0;
  font-size: 72px;
  line-height: 88px;
  font-weight: 700;
  -webkit-text-stroke: 2px #676767;
  -webkit-text-fill-color: transparent;
}

.steps__title:after {
  content: attr(data-title);
  position: absolute;
  top: -9px;
  left: -9px;
  font-size: 72px;
  line-height: 88px;
  font-weight: 800;
  -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: var(--color-line);
  z-index: -1;
}

.steps__subtitle {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.steps__text.step-3 {
  margin-bottom: 18px;
}

.steps__text,
.steps__link {
  font-size: 18px;
  line-height: 22px;
}

.steps__link {
  font-weight: 600;
  color: var(--link-color);
}

@media (max-width:768px) {
  .steps {
    padding-top: 40px;
  }

  .steps__container {
    padding: 153px 17px 65px 17px;
  }

  .steps__center-line {
    left: 47%;
  }

  .steps__heading-wrapper {
    padding-left: 80px;
    top: -118px;
    right: 97px;
  }
  
  .steps__heading-wrapper.step-2 {
    padding-left: 84px;
    top: -101px;
    right: 73px;
  }
  
  .steps__heading-wrapper.step-3 {
    padding-left: 84px;
    top: -35px;
    right: 85px;
  }
  
  .steps__heading-wrapper.step-4 {
    padding-left: 72px;
    top: -96px;
    right: 59px;
  }

  .steps__heading-wrapper::before {
    width: 17px;
    height: 17px;
    top: 13px;
  right: -103px;
  }

  .steps__heading-wrapper.step-2::before {
    top: 22px;
    left: -64px;
  }
  
  .steps__heading-wrapper.step-3::before {
    top: 18px;
    right: -92px;
  }
  
  .steps__heading-wrapper.step-4::before {
    top: 19px;
    left: -71px;
  }

  .steps__descr::after {
    width: 70px;
  } 

  .steps__descr.step-1::after {
    top: -97px;
    right: 0;
  }

  .steps__descr.step-2::after,
  .steps__descr.step-4::after {
    width: 44px;
    top: -72px;
    left: -39px;
  }
    
  .steps__descr.step-3::after {
    top: -10px;
  }
  
  .steps__descr.step-1 {
    padding: 0 18px 19px 87px;
  }
  
  .steps__descr.step-2,
  .steps__descr.step-4 {
    padding: 0 3px 20px 92px;
  }
  
  .steps__descr.step-3 {
    padding: 65px 27px 17px 88px;
  }


  .steps__heading-wrapper.step-1,
  .steps__heading-wrapper.step-2,
  .steps__heading-wrapper.step-3,
  .steps__heading-wrapper.step-4 {
    background-size: auto 65px;
  }
  

  .steps__title {
    margin-bottom: 0;
    font-size: 52px;
    line-height: 64px;
  }

  .steps__title:after {
    font-size: 52px;
    line-height: 64px;
  }

  .steps__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .steps__text {
    font-size: 12px;
    line-height: 15px;
  }

  .steps__link {
    font-size: 13px;
    line-height: 16px;
  }

}

@media (max-width:320px) {
  .steps {
    padding-top: 0;
  }

  .steps__container {
    padding: 153px 10px 75px 10px;
  }

  .row-right {
    justify-content: flex-start;
  }
  

  .steps__heading-wrapper {
    padding-left: 58px;
    top: -118px;
    right: 73px;
  }
  
  .steps__heading-wrapper.step-2 {
    padding-left: 68px;
    top: 45px;
    right: 55px;
  }
  
  .steps__heading-wrapper.step-3 {
    padding-left: 65px;
    top: 50px;
    right: 59px;
  }
  
  .steps__heading-wrapper.step-4 {
    padding-left: 56px;
    top: 58px;
    right: 48px;
  }

  .steps__heading-wrapper.step-1,
  .steps__heading-wrapper.step-2,
  .steps__heading-wrapper.step-3,
  .steps__heading-wrapper.step-4 {
    background-size: auto 50px;
  }

  .steps__descr {
    width: 100%;
  }

  .steps__descr.step-1 {
    padding: 0 0 19px 62px;
  }
  
  .steps__descr.step-2 {
    padding: 145px 0 20px 63px;
  }
  
  .steps__descr.step-3 {
    padding: 151px 27px 0 67px;
  }

  .steps__descr.step-4 {
    padding: 154px 0 20px 50px;
  }

  .steps__center-line,
  .steps__descr::after,
  .steps__heading-wrapper::before {
    display: none;
  }
}